:root {
  --Wall-Teal: #2B5561;
  --Paper-White: #eff6ff;
  --Ruler-Yellow: #F1B356;
  --Active-Green: #3A9D23;
  --Cancel-Red: #B22222;
  --Yellow-Gradient:  linear-gradient(270deg, #EFB155 0%, #876026 100%);
box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(239, 246, 255, 0.70) 0%, rgba(239, 246, 255, 0.70) 100%), url('../assets/whitepaper.png') lightgray 50% / cover no-repeat; 
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 1000px;
    height: 600px;
    background-color: var(--Paper-White);
    border-radius: 20px;
    overflow: hidden;
}

.login-image img{
    width: 450px;
    height: 100%;
    object-fit: fill;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    padding: 50px;
}

.login-form form{
    margin-bottom: 20px;
}

.login-form h2{
    font-family: 'Montserrat', sans-serif;
    color: var(--Wall-Teal);
    font-size: 30px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "OpenSans", sans-serif;
    color: #000;
    align-self: start;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: var(--Paper-White);
}

.login-btn{
    width: 230px;
    height: 50px;
    background-color: var(--Wall-Teal);
    color: var(--Paper-White);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: auto 0;
}

.login-form button.login-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.signup-link{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    direction: row;
    font-size: 16px;
    text-decoration: none;
    align-self: start;
    align-items: center;
    gap: 5px;
}

.signup-link a{
    color: var(--System-Blue);
    text-decoration: underline;
    font-weight: 500;
}

.google-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 230px;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff7c;
    border-width: 1px;
    border-radius: 4px;
}

.google-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    cursor: pointer;
}