/*  */
.student-files-container{
    display: flex;
    flex-direction: column;

    height: auto;
    justify-content: space-between;
    margin: 0 auto;
}

.student-files-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 24px;
}

/* Student File Card */
.student-file-card {
    width: 230px;
    height: 330px;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}

.card-image {
    position: relative;
    height: 60%;
    background-color: #E0E0E0;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.status-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.status-label.active {
    background-color: #399d23a1;
}
.status-label.inactive {
    background-color: #f1b356ca;
}
.status-label.blocked {
    background-color: #b22222b5;
    color: #333;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.card-content h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.card-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.student-card-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: top;
    gap: 10px;
}

.view-file-link a{
    color: var(--System-Blue);
    text-decoration: underline;
    font-weight: 500;
}


.upload-file-btn {
    background-color: var(--Wall-Teal);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}