.home-background{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(239, 246, 255, 0.70) 0%, rgba(239, 246, 255, 0.274) 100%), url('../reusableAssets/whitepaper.png') lightgray 50% / cover; 
    background-size: cover;
    width: 100%;
}


.login-button {
    background: linear-gradient(270deg, #E9AD53 0%, #866026 100%);

    font-weight: 600;
    border: none;
    transition: background 0.8s ease;
}

.login-button:hover {
    background: linear-gradient(270deg, #866026 0%, #E9AD53 100%);
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25);
    transition: background 0.8s ease;
}

.signup-button:hover{
    background: linear-gradient(270deg, #e9ad53cf 0%, #866026be 100%);
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25);
    transition: background 0.8s ease;
    border: none;
    color: white
}

.subscribe-button{
    background: linear-gradient(270deg, #E9AD53 0%, #866026 100%);
    font-weight: 600;
    border: none;
    transition: background 0.8s ease;
}

.subscribe-button:hover {
    background: linear-gradient(270deg, #866026 0%, #E9AD53 100%);
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25);
    transition: background 0.8s ease;
}

