@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.userCard {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  padding: 30px 80px 20px;
  margin: auto;
  max-width: 1000px;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  color: #000;
}

.userCard-content h3 {
  color: #181f2a;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 600;
}

.userCard-content {
  padding-right: 50px;
  width: 500px;
}

.userCard-content p {
  margin: 4px 0 10px;
  color: #232b38;
  font-size: 16px;

}

.userCard-edit-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  
  
}

.userCard-edit-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  letter-spacing: 1px;
}

.userCardButtons {
  margin-top: 20px;
}

